@font-face {
    font-family: 'benzin-bold';
    src: url('../fonts/benzin-bold.otf') format('truetype');
    font-style: bold;
    font-weight: 500;
}
@font-face {
    font-family: 'unbounded-regular';
    src: url('../fonts/Unbounded-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

